<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/aboutUs.css">
    <link rel="stylesheet" href="../static/css/background.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>PROJECT U</title>
</head>

<body>
    <div class="gradient-bg gradient-1"></div>
    <div class="gradient-bg gradient-2"></div>
    <div class="gradient-bg gradient-3"></div>
    <div class="particles"></div>
    <script src="../js/background.js"></script>

<!-- navbar -->
<div class="navigation">
    <a href="{{ url_for('profile') }}"><button id="profile">Profile</button></a>
    <a href="{{ url_for('recommend') }}"><button id="signup">recommend</button></a>
    <a href="{{ url_for('main') }}"><button id="popular">PROJECT U</button></a>
    <a href="{{ url_for('compare') }}"><button id="popular">compare</button></a>
    <a href="{{ url_for('aboutUs') }}"><button id="aboutUs">About US</button></a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('logout') }}"><button id="Log out">About US</button></a>
    {% endif %}
</div>
 
    <div class="aboutUs-container">
        <h2 class="aboutUs-title">About Us</h2>
        <p class="aboutUs-content">PROJECT U is a platform that allows users to discover and compare universities. Users can search for universities based on their preferences and compare them side by side. PROJECT U aims to provide users with the information they need to make informed decisions about their future education.</p>

        <h2 class="aboutUs-title">Our Team</h2>

        <div class="team-members">
            <div class="team-member" id="team-leader">
                <h3 class="team-member-name">Amr Mahmoud Soliman</h3>
                <p class="team-member-role">Team Leader</p>
            </div>

            <div class="team-member">
                <h3 class="team-member-name">Abdallah Kassem</h3>
                <p class="team-member-role">UI/UX designer & Developer</p>
            </div>

            <div class="team-member">
                <h3 class="team-member-name">Mazen Hatem</h3>
                <p class="team-member-role">Data analyst</p>
            </div>

            <div class="team-member">
                <h3 class="team-member-name">Ahmed Abdelmaksoud</h3>
                <p class="team-member-role">BackEnd Developer</p>
            </div>

            <div class="team-member">
                <h3 class="team-member-name">Mohamed Khaled</h3>
                <p class="team-member-role">BackEnd Developer</p>
            </div>

            <div class="team-member">
                <h3 class="team-member-name">Fares Mohamed</h3>
                <p class="team-member-role">FrontEnd Developer</p>
            </div>

            <div class="team-member">
                <h3 class="team-member-name">Yehia Shady</h3>
                <p class="team-member-role">FrontEnd Developer</p>
            </div>
        </div>
    </div>



        <!-- cool cube -->
    <div class="cube-container">
        
        <div class="cube">
          <div class="cube-leader">Amr Mahmoud Soliman</div>
          <div class="face front">Abdalla Kassem </div>
          <div class="face back">mazen Hatem</div>
          <div class="face right">Ahmed Abdelmaksoud</div>
          <div class="face left">Mohamed Khaled</div>
          <div class="face top">Yehia Shady</div>
          <div class="face bottom">Fares Mohamed</div>
        </div>
      </div>
      
</body>
</html>
