<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <title>Document</title>
</head>
<body>
     <!-- background -->
     <div class="gradient-bg gradient-1"></div>
     <div class="gradient-bg gradient-2"></div>
     <div class="gradient-bg gradient-3"></div>
     <div id="particles-js"></div>
     <script src="particles.js"></script>
     <div class="particles">
         <script src="../static/js/background.js"></script>
     </div>
 
</body>
</html>