<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/aboutUs.css">
    <link rel="stylesheet" href="../static/css/background.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>PROJECT U</title>
</head>

<body>
  
 <!-- background -->
 <div class="gradient-bg gradient-1"></div>
 <div class="gradient-bg gradient-2"></div>
 <div class="gradient-bg gradient-3"></div>
 <div class="particles">
     <script src="../static/js/background.js"></script>
 </div>

<!-- navbar -->
<div class="navigation">
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('profile') }}"><button class="button" id="profile">Profile</button></a>
        {% else %}  
        <a href="{{ url_for('Signup') }}"><button class="button" id="Signup">Signup</button></a>
    {% endif %}
    <a href="{{ url_for('recommend') }}"><button class="button" id="recommend">recommend</button></a>
    <a href="{{ url_for('main') }}"><button class="button" id="popular">PROJECT U</button></a>
    <a href="{{ url_for('compare') }}"><button class="button" id="compare">compare</button></a>
    <a href="{{ url_for('aboutUs') }}"><button class="button" id="aboutUs">About US</button></a>

</div>


<!-- alert massages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <link rel="stylesheet" href="../static/css/flashM.css">
   
<div class="no-inherit-display"  style="position: fixed; top: 0; width: 100%; z-index: 1; text-align: center;">
    <div class="flash-messages" id="flash-messages" onclick="document.getElementById('flash-messages').style.display='none';">  
         
            <div class="alert alert-{{category}} text-center">
                {{message}}
            </div>
</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}


    <div class="aboutUs-container">
        <h2 class="aboutUs-title">About Us</h2>
        <p class="aboutUs-content">PROJECT U is a platform that allows users to discover and compare universities. Users can search for universities based on their preferences and compare them side by side. PROJECT U aims to provide users with the information they need to make informed decisions about their future education.</p>

        <h2 class="aboutUs-title">Our Team</h2>

        <div class="team-members">
            <div class="team-member" id="team-leader">
                <h3 class="team-member-name">Amr Mahmoud Soliman</h3>
                <p class="team-member-role">FullStack Developer</p>
            </div>

            <div class="team-member">
                <h3 class="team-member-name">Abdallah Kassem</h3>
                <p class="team-member-role">UI/UX designer & Developer</p>
            </div>

            <div class="team-member">
                <h3 class="team-member-name">Mazen Hatem</h3>
                <p class="team-member-role">Data analyst</p>
            </div>

            <div class="team-member">
                <h3 class="team-member-name">Yehia Shady</h3>
                <p class="team-member-role">Designer</p>
            </div>
        </div>
    </div>



        <!-- cool cube -->
    <div class="cube-container">
        
        <div class="cube">
            <div class="face right">Amr Mahmoud </div>
            <div class="face front">Abdalla Kassem </div>
            <div class="face left">mazen Hatem</div>
            <div class="face top">Yehia Shady</div>
        </div>
      </div>
      
</body>
</html>
