:root{
    --h1font: 'Segoe UI', Arial, sans-serif;
    --pfont: 'Noto Sans', sans-serif;
    --buttonfont: 'Noto Sans', sans-serif;
    --inputfont: 'Noto Sans', sans-serif;
    --background: linear-gradient(45deg, #050505, #010101);
    --buttoncolor: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
    );
    --fontcolor: white;
}


@keyframes formAppear {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    color: var(--fontcolor);
    font-family: var(--pfont);
   
}

.main-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    /* padding: 100px ; */
    animation: formAppear 0.6s ease-out;
    flex-wrap: wrap; 
    margin-top: 5%;
}

.criteria {
    border-radius: 25px !important;
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    width: 20px;

}


.compare-table {

    border-radius: 25px !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    background: rgba(255, 255, 255, 0.05);
    /* margin-right: 10px; */
    
    
   }
   

ul {
    list-style: none;
    padding: 0px;
   }
   
  
.LearnMore{
    width: 100%;
    padding: 12px;
    background: linear-gradient(45deg, #8B5CF6, #4C1D95);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}
   
   
   .LearnMore:hover{
    transform: scale(1.01);
    background: white;
    color: black;
   }
   
   .compare-columns .col-md-3:first-child .compare-table {
    border-radius: 25px 0px 0px 25px;
   }
   
   .compare-columns .col-md-3:last-child .compare-table {
    border-radius: 0px 25px 25px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
   }
   
   .compare-table {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    padding-bottom: 40px;
   }
   
   .compare-table .tution {
    padding: 40px 0px;
    font-weight: 600;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
   }
   
   .compare-table .tution .sub {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    bottom: 10px;
   }
   
   .compare-table .tution .fees {
    color: #fff;
    font-size: 56px;
    display: inline-block;
    padding: 0px 8px;
   }
   
   .compare-table .features {
    margin: 40px 0px;
   }
   
   .compare-table .features li {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
   }
   
   .compare-table .features li:last-child {
    margin-bottom: 0px;
   }
   
   .compare-table .features li strong {
    font-weight: 600;
   }
   
   
   
   .compare .compare-columns.col-md-3:first-child .compare-table {
    border-radius: 25px 0px 0px 25px;
   }
   
   .compare .compare-columns.col-md-3:last-child .compare-table {
    border-radius: 0px 25px 25px 0px;
    border-right: 2px solid rgba(35, 35, 35, 0.2);
   }
   
   .compare .compare-table {
    border-top: 2px solid rgba(35, 35, 35, 0.2);
    border-bottom: 2px solid rgba(35, 35, 35, 0.2);
    border-left: 2px solid rgba(35, 35, 35, 0.2);
    text-align: center;
    padding-bottom: 40px;
   }
   
   .compare .compare-table .features {
    margin: 0px;
   }
   
   .compare .compare-table .features li:first-child {
    border-top: none;
   }
   
   .compare .compare-table .features li {
    color: #333333;
    border-top: 2px solid rgba(35, 35, 35, 0.2);
    padding: 24px 0px;
    margin: 0;
   }
   
   .compare .compare-table .tution {
    border-top: 2px solid rgba(35, 35, 35, 0.2);
    padding-bottom: 24px;
    border-bottom: none;
   }
   
   .compare .compare-table .tution .fees {
    color: #333333;
   }
   
   .compare .compare-table .tution .sub {
    color: #777777;
    opacity: 0.7;
   }
   
   
   
   
   .compare .feature-list {
    padding-bottom: 0px;
   }
   
   .compare  .compare-table .features li:nth-child(even) {
    background: #f4f4f4;
   }
   
   .compare-columns .no-pad {
    padding: 0px 15px;
   }
   
   .compare-columns .no-pad-left {
    padding-left: 15px;
   }
   
   .compare-columns .no-pad-right {
    padding-right: 15px;
   }
   
   .compare-table {
    margin-bottom: 16px;
    border-radius: 25px !important;
    border: 2px solid rgba(255, 255, 255, 0.2) !important;
   }
   
   .compare .hidden-sm:first-child {
    display: none;
   }
   
   
   
   .compare .compare-table .features li:first-child {
    font-size: 24px;
   }
   
   .compare-columns .no-pad {
    padding: 0px 15px;
   }
   
   .compare-columns .no-pad-left {
    padding-left: 15px;
   }
   
   .compare-columns .no-pad-right {
    padding-right: 15px;
   }
   
   
  