:root {
    --h1font: 'Segoe UI', Arial, sans-serif;
    --pfont: 'Noto Sans', sans-serif;
    --buttonfont: 'Noto Sans', sans-serif;
    --inputfont: 'Noto Sans', sans-serif;
    --background: linear-gradient(45deg, #050505, #010101);
    --buttoncolor: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    --fontcolor: white;
  }
  
  body {
    font-family: var(--pfont);
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* display: flex; */
    text-align: center;
    min-height: 100vh;
    color: var(--fontcolor);
  }
  .header {
    text-align: center;
    padding: 5px;
    position: relative;
    animation: fadeInDown 0.5s ease-out;
    font-size: 1.5rem;
    font-family: var(--h1font);
    font-weight: bold;
    text-shadow: 3px 2px 0px #8B5CF6;
    font-weight: 800;
}
  .card {
    /* Add shadows to create the "card" effect */

    padding: 60px 80px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid hsla(0, 0%, 100%, 0.53); /* 5px rounded corners */
    padding-left:5%;
    padding-right:5%;
    margin-right:10%;
    margin-left: 10%;
    height:35px ;
    text-align: left;


    /* width: 50%; */
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(183, 66, 169, 0.2);
  }
  
  /* Add some padding inside the card container */
  .container {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    animation: formAppear 0.6s ease-out;
    margin: top 30px; 
    margin-bottom:30px;

  }
#h2{
  margin-bottom: 20px;
}

.submit{
  width: 25%;
  padding: 8px;
  background: linear-gradient(45deg, #8B5CF6, #4C1D95);
  border: none;
  border-radius: 8px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 100px;
float: right;

}
@keyframes formAppear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
