<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/background.css">
   
    <title>PROJECT U</title>
  
</head>
<body>
    
    
<!-- alert massages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <link rel="stylesheet" href="../static/css/flashM.css">
   
<div class="no-inherit-display"  style="position: fixed; top: 0; width: 100%; z-index: 1; text-align: center;">
    <div class="flash-messages" id="flash-messages" onclick="document.getElementById('flash-messages').style.display='none';">  
         
            <div class="alert alert-{{category}} text-center">
                {{message}}
            </div>
</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}



    <div class="gradient-bg gradient-1"></div>
    <div class="gradient-bg gradient-2"></div>
    <div class="gradient-bg gradient-3"></div>
    <div class="particles"></div>
    <script src="../static/js/background.js"></script>
    
    




    {% if not current_user.is_authenticated %}
    <header class="header">
        <a href="{{ url_for('Signup') }}"><button id="signup">Sign Up</button></a>
        <a href="{{ url_for('Login') }}"><button id="login">Log In</button></a>
    </header>
    {% endif %}
    <h1 class="title">PROJECT<span class="highlight"> U</span></h1>
    <p class="subtitle">your gateway to discover and compare universities</p>

    <a href="{{ url_for('main') }}" class="title"><button class="get-started">Get Started</button></a>
</body>
</html>
