:root {
    --h1font: 'Segoe UI', Arial, sans-serif;
    --pfont: 'Noto Sans', sans-serif;
    --buttonfont: 'Noto Sans', sans-serif;
    --inputfont: 'Noto Sans', sans-serif;
    --background: linear-gradient(45deg, #050505, #010101);
    --buttoncolor: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    --fontcolor: white;
  }
  
  body {
    font-family: var(--pfont);
    overflow-x:hidden;
    align-items: center;
    justify-content: center;
    margin: 0;
    /* display: flex; */
    text-align: center;
    color: var(--fontcolor);
  }

  .header {
    text-align: center;
    padding: 5px;
    position: sticky;
    animation: fadeInDown 0.5s ease-out;
    font-size: 1.5rem;
    font-family: var(--h1font);
    font-weight: bold;
    text-shadow: 3px 2px 0px #8B5CF6;
    font-weight: 800;
    z-index: 20;
}


  .card {
    /* Add shadows to create the "card" effect */

    padding: 50px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid hsla(0, 0%, 100%, 0.53);
    border-radius: 10px;
    margin-right:10%;
    margin-left: 20%;
    margin-bottom: 1%;
    height:max-content ;
    width: 50%;

  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(183, 66, 169, 0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    width: 95%;
    align-items: center;
    transition: 0.3s;
    animation: formAppear 0.6s ease-out;
    margin: 30px; 
    overflow-x: hidden;
    overflow-y:visible;

  }
  
  .card h2 {
    
   text-align: left;
   
  
  }


.container .card  .learnMore{
  width: 95%;
  padding: 8px;
  background: linear-gradient(45deg, #8B5CF6, #4C1D95);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  float: right;
  
}


.learnMore:hover{
  transform: scale(1.01);
  background: white;
  color: black;
}

@keyframes formAppear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
