<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/background.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    
    
    <script src="../static/js/cards.js"></script>
    <title>PROJECT U</title>
</head>
<body>
    <!--  background   -->
        <div class="gradient-bg gradient-1"></div>
        <div class="gradient-bg gradient-2"></div>
        <div class="gradient-bg gradient-3"></div>
        <div class="particles"></div>
        <script src="../static/js/background.js"></script>
    

<!-- navbar -->
<div class="navigation">
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('profile') }}"><button class="button" id="profile">Profile</button></a>
        {% else %}  
        <a href="{{ url_for('Signup') }}"><button class="button" id="Signup">Signup</button></a>
    {% endif %}
    <a href="{{ url_for('recommend') }}"><button class="button" id="recommend">recommend</button></a>
    <a href="{{ url_for('main') }}"><button class="button" id="popular">PROJECT U</button></a>
    <a href="{{ url_for('compare') }}"><button class="button" id="compare">compare</button></a>
    <a href="{{ url_for('aboutUs') }}"><button class="button" id="aboutUs">About US</button></a>

</div>


<!-- alert massages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <link rel="stylesheet" href="../static/css/flashM.css">
   
<div class="no-inherit-display"  style="position: fixed; top: 0; width: 100%; z-index: 1; text-align: center;">
    <div class="flash-messages" id="flash-messages" onclick="document.getElementById('flash-messages').style.display='none';">  
         
            <div class="alert alert-{{category}} text-center">
                {{message}}
            </div>
</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}


   

    <div class="header">
        <h1>PROJECT <span class="highlight">U</span></h1>
    </div>
    
    <div class="search-recommend">
        <div class="search-container">
            <form action="{{ url_for('search') }}" method="POST">
                <div class="input__container">
                    <div class="shadow__input"></div>
                    <button type="submit" class="input__button__shadow">
                        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="20px" width="20px">
                            <path d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z" fill-rule="evenodd" fill="#17202A"></path>
                        </svg>
                    </button>
                    <input type="text" name="search_query" class="input__search" placeholder="search for a university">
                </div>
            </form>
        </div>
        
        <div class="recommend-container">
            <h2>Or make us recommend you one!</h2>
            <a href="{{ url_for('recommend') }}" class="title"><button class="recommend-button">recommend</button></a>
        </div>
    </div>

    <div>
        {% if results %}
        <style> 
            .recommend-container{
                display: none;
            }
            body {
                overflow-y: auto;
            }
        </style>
            <ul>
               
    <li>
    <div class="card">
        {% for uni in results %}
        <div class="card-body">
            <h2 class="card-title"><a href="{{uni.website}}" class="btn btn-primary" target="_blank">{{ uni.name }}</a></h2>
            <p class="card-text">{{ uni.description }}</p>
        </div>
    </div>                
    </li>
                {% endfor %}
            </ul>
                {% endif %}
    </div>

</body>
</html>