<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/recommend.css">
    <link rel="stylesheet" type="text/css" href="../static/css/background.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navbar.css">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/home.css"> -->
    <title>PROJECT U</title>
</head>
<body>

 <!-- background -->
 <body>
    <div class="gradient-bg gradient-1"></div>
    <div class="gradient-bg gradient-2"></div>
    <div class="gradient-bg gradient-3"></div>
    <div class="particles"></div>
    <script src="../static/js/background.js"></script>

<!-- navbar -->
<div class="navigation">
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('profile') }}"><button class="button" id="profile">Profile</button></a>
        {% else %}  
        <a href="{{ url_for('Signup') }}"><button class="button" id="Signup">Signup</button></a>
    {% endif %}
    <a href="{{ url_for('recommend') }}"><button class="button" id="recommend">recommend</button></a>
    <a href="{{ url_for('main') }}"><button class="button" id="popular">PROJECT U</button></a>
    <a href="{{ url_for('compare') }}"><button class="button" id="compare">compare</button></a>
    <a href="{{ url_for('aboutUs') }}"><button class="button" id="aboutUs">About US</button></a>

</div>
<div class="no-inherit-display" style="position: fixed; top: 0; width: 100%; z-index: 1; text-align: center;">
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}} text-center">
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
</div>
</div>

<div class="header">
    <h1>Top Recommendations For <span class="highlight">U</span></h1>
</div>

{% if recommendations %}
    <div class="container">
        {% for uni in recommendations %}
        <div class="card">
            <h2 id="h2"><b>{{uni.name}}</b></h2>
            <button type="submit" class="submit"><a href="{{ uni.website }}" target="_blank">Learn More</a></button>
            {{ uni.location }}
            {{ uni.major }}
            {{ uni['Tuition fees'] }}
        </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

<!-- 
        <div class="recommendations">
            <h2>Top Recommendations</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Major</th>
                        <th>Tuition Fees</th>
                        <th>Website</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div> -->

</body>
</html>